.slick-prev:before, .slick-next:before {
    color: $main-blue;
}
.text-center p {
    text-align: center;
}
.rater img{
    display: inline !important;
}
.card-header{
    margin: 20px 0 50px 0;
    text-align: center;
    font-size: 18px;
}
.tabs .tab a {
    color: #039be5 !important;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(29, 136, 229, 0.2);
    outline: none;
}
.tabs .indicator {
    background-color: rgba(29, 136, 229, 0.2);

}
