.slick-prev:before, .slick-next:before {
    color: $main-blue;
}
.text-center p {
    text-align: center;
}
.rater img{
    display: inline !important;
}
.card-header{
    margin: 20px 0 50px 0;
    text-align: center;
    font-size: 18px;
}
